.test123 {
    background-color: aqua;
}

.dark-blue-background {
    background-color: #110057;
}

.teal-background {
    background-color: #238EDB;
}

.purple-background {
    background-color: #535AFF;
}

.white-background {
    background-color: #eee;
}

.gray-background {
    background-color: gray;
}