@charset "ISO-8859-1";

.practice {
	background-image: url("../images/legend.jpg");
	background-repeat: no-repeat; 
	background-size : auto;
	height: 300px;
}

* {
	box-sizing: border-box;
}

.search {
	text-align: center;
}

table {
  border: 1px solid;
}


